<%= link_to "New Ticket", new_project_ticket_path(@project) %>
<div id="ticket">
  <ul id='tickets'>
    <% @project.tickets.each do |ticket| %>
      <li>
        #<%= ticket.id %> -
        <%= link_to ticket.title, [@project, ticket] %>
      </li>
    <% end %>
  </ul>

</div>
